/* * {
  border: 1px solid red;
} */

nav {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
  background-color: aqua;
  padding: 1rem;
}

.wrapper {
  display: flex;
  gap: 1rem;
}

.app {
  margin: 1rem;
}
